body{
    background-image: url("pr/pla.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    margin: 0px;
}
/*NAV BAR*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3B4F3A;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity:0.85
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #8E643E;
}
/*NAV BAR*/
.continen{
		width: 200%;
    text-align: center;
    top: -210%;
    position: fixed;
    font-size: 33px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
}
#big{
  margin-top: 200px;
}
.continent{
background-color: gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 	float: center;
  opacity: 0.5;
  
    
}
#q1 {
      margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.7;
    

}
#q2{

	    width: 200%;
    text-align: center;
    top: -151%;
    position: fixed;
    font-size: 33px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bb{
  background-color: gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: center;
  opacity: 0.5;
  width: 200px;
  
}
#step2{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8;
    
      grid-gap: 20px;
}
#destination1 {
margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8;
    
      grid-gap: 20px;
}

#destination2 {
 margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8; 
    
      grid-gap: 20px;
}

#destination3 {
  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8;
   
      grid-gap: 20px;
}
#destination4 {
  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.7;
 
      grid-gap: 20px;
}
#destination5 {
  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8;
        grid-gap: 20px;
}
#destination6 {
  margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.8;
    
      grid-gap: 20px;
}

}
#q2{
  text-align: -webkit-center;
  font-size: 25px;
}
#q3{
  position: fixed;
    font-size: 27px;
    top: -12%;
    z-index: 999999;
    left: 50%;
    transform: translate(-50%, -50%);
}
#q3a{
  text-align: -webkit-center;
}
#q3b{
  text-align: -webkit-center;
}
#q3c{
  text-align: -webkit-center;
}
#q3e{
  text-align: -webkit-center;
}





.divLR{
	display: flex;
	width: 1000px;
}
.divRight{
	height: 250px;position: relative;
	width: 100%;

	}
.divLeft{
	width: 100%;position: relative;margin-right: 15px;
	}

.divCenter{
	height: 28em;
}
.img {
	width: 79em;
    height: 28em;
}

.container {
  position: relative;
  width: 50%;
}
.container:hover .image {
  opacity: 0.65;
}

.container:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:20em;
}